Source: apt-repository-simple
Section: perl
Priority: optional
Build-Depends: debhelper (>= 5)
Build-Depends-Indep: perl (>= 5.8.0-7)
Maintainer: Sam Vilain <samv@catalyst.net.nz>
Standards-Version: 3.7.3
Vcs-Git: git://git.catalyst.net.nz/apt-repository-simple.git
Vcs-Browser: http://git.catalyst.net.nz/gw?p=apt-repository-simple.git

Package: apt-repository-simple
Architecture: all
Depends: ${perl:Depends}, ${shlibs:Depends}, ${misc:Depends}, libscriptalicious-perl, libset-object-perl (>= 1.15), libscalar-list-utils-perl | perl-modules (>= 5.7.3), libdigest-md5-perl | perl-modules (>= 5.7.3), libdigest-sha1-perl, libdate-manip-perl, libio-handle-perl | perl-modules (>= 5.4), libyaml-syck-perl, bzip2
Recommends: libdigest-sha-perl
Description: Simple sharing of locally built packages
 The tools Debian provide for managing archives and uploads are very
 good for Debian but not very many other people.
 .
 This package provides an alternate method to dpkg-scanpackages et al
 for updating the "Packages.gz" files and associated signature files.
 .
 It is also orders of magnitude faster.
