Source: apt-repository-simple
Section: perl
Priority: optional
Build-Depends: debhelper (>= 4.0.2)
Build-Depends-Indep: perl (>= 5.8.0-7)
Maintainer: Sam Vilain <samv@catalyst.net.nz>
Standards-Version: 3.6.1

Package: apt-repository-simple
Architecture: all
Depends: ${perl:Depends}, ${shlibs:Depends}, ${misc:Depends}, libscriptalicious-perl, libset-object-perl (>= 1.15), libscalar-list-utils-perl | perl-modules (>= 5.7.3), libdigest-md5-perl | perl-modules (>= 5.7.3), libdigest-sha1-perl, libdate-manip-perl, libio-handle-perl | perl-modules (>= 5.4), libyaml-syck-perl
Description: Simple sharing of locally built packages
 The tools debian provide for managing archives and uploads are very
 good for debian but not very many other people.
 .
 This package provides an alternate method to dpkg-scanpackages et al
 for updating the "Packages.gz" files and associated signature files.
 .
 It is also orders of magnitude faster.
